<%- include('partials/header'); -%>

<h1>Compose</h1>
<form class="" action="/" method="post">

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Title</label>
    <input type="text" name="newTitle" class="form-control" id="formGroupExampleInput" placeholder="Post title">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Post</label>
    <input type="text" name="newPost" class="form-control" id="formGroupExampleInput2" placeholder="Post content">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer'); -%>
